/* --------------------------------- */
/*              General              */
/* --------------------------------- */

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #edf7fa;
  color: #003366;
}

a {
color: #003366;
}

a:hover {
color: #6a89cc;
}

.section {
padding: 40px;
padding-bottom: 0;
}

.speech-bubble-left {
border: solid 4px #5f6caf;
position: relative;
background: #6a89cc;
color: white;
border-radius: .8em;
}

.speech-bubble-left:after {
content: '';
position: absolute;
left: 0;
top: 65%;
width: 0;
height: 0;
border: 34px solid transparent;
border-right-color: #6a89cc;
border-left: 0;
border-bottom: 0;
margin-top: -17px;
margin-left: -27px;
}

.speech-bubble-right {
  border: solid 4px #ff8364;
position: relative;
  background: #ffb677;
  color: white;
border-radius: .8em;
}

.speech-bubble-right:after {
content: '';
position: absolute;
right: 0;
top: 50%;
width: 0;
height: 0;
border: 34px solid transparent;
  border-left-color: #ffb677;
border-right: 0;
border-bottom: 0;
margin-top: -13.5px;
margin-right: -27px;
}

.whiteShadow {
  -webkit-box-shadow: 0px 0px 28px -1px rgba(255,255,255,0.1);
  -moz-box-shadow: 0px 0px 28px -1px rgba(255,255,255,0.1);
  box-shadow: 0px 0px 28px -1px rgba(255,255,255,0.1);
}

.bouncySlow {
  animation: bounce 2.0s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.bouncyFastAndColor {
  animation: bounce 0.80s, toColor 0.80s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

/* --------------------------------- */
/*              Navbar               */
/* --------------------------------- */

nav {
  padding-top: 50px;
  text-align: center;
  
  /* background: rgb(88,103,118);
  background: -moz-linear-gradient(180deg, rgba(88,103,118,0.6) 0%, rgba(51,57,69,0.4) 48%);
  background: -webkit-linear-gradient(180deg, rgba(88,103,118,0.6) 0%, rgba(51,57,69,0.4) 48%);
  background: linear-gradient(180deg, rgba(88,103,118,0.6) 0%, rgba(51,57,69,0.4) 48%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#586776",endColorstr="#333945",GradientType=1); */
}

nav h2 {
  font-weight: 600;
  font-style: italic;
}

nav ul li {
  list-style: none;
  display: inline;
}

.icon {
  font-size: 30px;
  margin: 7px;
}

#corner {
  position: fixed;
  transform: rotate(-45deg);
  left: -65px;
  top: 25px;
  /* background-color: #DAE0E2; */
  /* border: 5px double #edc264; */
  /* color: #333945; */
  font-size: 1.2rem;
  font-weight: 600;
  width: 200px;
  z-index: 2;
}

@media (max-width: 768px) {
  #corner {
      width: 120px;
      left: -40px;
      top: 5px;
  }
}

/* --------------------------------- */
/*              Introduction         */
/* --------------------------------- */

#introduction {
  margin-top: 50px;
}

#hello {
  position: relative;
  z-index: 1;
  bottom: 80px;
  right: -10px;
  font-size: 1.2rem;

  font-weight: 600;
  width: 60%;
  max-width: 300px;
  padding: 25px;
  text-align: center;
}

#headshot {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
  width: 80%;
  border-radius: 10px;
}

#introductionText {
  text-align: center;
  width: 70%;
}

#uci {
  border-radius: 10px;
  padding: 3px;
  margin: 10px;
  text-align: center;
  font-weight: 600;
  font-size: 1.5rem;
}


#locationIcon {
  color: #ffb677;
  margin-right: 15px;
}

/* --------------------------------- */
/*            Experiences            */
/* --------------------------------- */

#experiences {
margin: 50px auto;
}

#experiencesHeader {
text-align: center;
font-weight: 600;
font-size: 1.2rem;

width: 60%;
max-width: 300px;
float: left;
padding: 25px;

position: relative;
bottom: 50px;
}

.experience {
padding: 40px;
border-radius: 10px;
width: 80%;
min-width: 360px;
margin: 0 auto;
text-align: right;
border: 5px solid #ff8364;
background-color: #ffb677;
z-index: -1;
}

.experience-title {
font-weight: 600;
}

.experience-company {
font-style: italic;
}

.experience-when {
font-style: italic;
}

.experience-panel-controller {
float: center;
}

.experience-panel-icon {
margin: 0 3px;
font-size: 1.2rem;
}

/* --------------------------------- */
/*             Projects              */
/* --------------------------------- */

#projectsHeader {
  text-align: center;
  font-weight: 600;
  font-size: 1.2rem;

  width: 60%;
  max-width: 300px;
  float: left;
  padding: 25px;

  position: relative;
  top: 30px;
}

#focusedProject {
  text-align: center;
  padding: 100px;
  margin: 0 auto;
  margin: 50px 0;
  height: 450px;
}

#focusedProject ul {
  background-color: #ffb677;
  border: solid 4px #ff8364;
  padding: 10px;
  border-radius: 40px;
}

#focusedProject ul li {
  
  list-style: none;
  display: inline;
  margin: 0 10px;
  font-style: italic;
  font-size: 0.8rem;
}

/* #focusedProject img {
  min-width: 300px;
  width: 100px;
  height: 400px;
} */

#focusedProject h2 {
  font-weight: 600;
}

#projects {
  margin: 0 auto;
  width: 90%;
  text-align: center;
}

.project {
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
  padding: 40px;
  width: 50%;
  min-width: 300px;
  margin: 20px auto;
  height: 200px;
  transition: .5s;
}

.project:nth-of-type(1) h3:after{
  content: "\2605";
  margin-left: 5px;
  color: #b3994a;
}

.project p {
  font-style: italic;
}

.project h3 {
  font-weight: 600;
}

.activeProject {
  transition: .5s;
  z-index: 1;
}

/* --------------------------------- */
/*             Footer                */
/* --------------------------------- */

footer {
  margin-top: 150px;
  text-align: center;
  font-weight: 600;
  font-size: 0.6rem;
  font-style: italic;
  width: 100vw;
  padding: 20px;
}

/* --------------------------------- */
/*             Animations            */
/* --------------------------------- */

@keyframes bounce {
  from { transform: translate3d(0, 0, 0);     }
  to   { transform: translate3d(0, -10px, 0); }
}

@keyframes toColor {
  100% { color: #6a89cc; }
}

/* Prefix Support */
bouncySlow {
  -webkit-animation-name: bounce;
  -webkit-animation-duration: 2.0s;
  -webkit-animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
}

bouncyFastAndColor {
  -webkit-animation-name: bounce, toColor;
  -webkit-animation-duration: 0.80s;
  -webkit-animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes bounce {
from { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
to   { -webkit-transform: translate3d(0, -10px, 0); transform: translate3d(0, -10px, 0); }
}



